@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h4>Add a new student</h4>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model =>model.Enrollment)

  @Html.LabelFor(model => model.StudentName)
  @Html.TextBoxFor(model => model.StudentName)
  <input type="submit" value="Add new student" />

}

<p>@Html.ActionLink("Show all students", "Index")</p>